/*main stuff*/
html, #bg {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    background-color: royalblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
    overflow: hidden !important;
    touch-action: manipulation;
    user-select: none;
}

header {
    background-color: #333;
    color: white;
    border-radius: 15px;
    width: 100%;
    padding: 0.5% 0 2% 0;
}

footer {
    background-color: #333;
    color: white;
    border-radius: 15px;
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    top: 100% !important;
    height: 50%;
    position: sticky !important;
    padding: 0.5% 0 2% 0;
    margin-top: 0.5%;
}

#num {
    display: inline-block;
    margin: 1% 0 1% 0;
}

#ldiv {
    float: left;
    width: 33%;
    height: 100vh;
    background-color: lightskyblue;
    padding: 0 0.5%;
    display: inline;
    position: relative;
    border-radius: 0 15px 15px 0;
}

@media only screen and (max-width: 968px) {
    #ldiv {
        width: 33%;
        display: inline;
    }
}
#mdiv {
    position: relative;
    margin: 0 35%;
    background-color: lightskyblue;
    height: 100%;
    padding: 0.5%;
    border-radius: 15px;
    box-sizing: border-box;
}

#rdiv {
    float: right;
    width: 33%;
    height: 100%;
    background-color: lightskyblue;
    padding: 0 0.5%;
    display: block;
    bottom: 0;
    top: 0;
    border-radius: 15px 0 0 15px;
    overflow-y: scroll;
}

#bottomcontainer {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    top: 100%;
    position: sticky;
}

#news {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    bottom: 100%;
    position: sticky;
}

#tipcontainer {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    background-color: dodgerblue;
    min-height: 40%;
}

#nexttip, #tiplabel {
    position: sticky;
    text-align: center;
    top: 100%;
    width: 97.5%;
    height: 10% !important;
    padding: 5% 0.5% 5% 0;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex !important;
    font-size: 100%;
    font-family: "Karla", sans-serif;
}
#nexttip {
    z-index: 120412;
}

#tiplabel {
    top: initial;
    padding: 0.5%;
    margin-top: 1%;
    margin-bottom: 0;
}

#tip {
    margin: 15px 0 15px 0 !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    max-height: 40px !important;
    min-height: 40%;
    font-size: 1em !important;
}

.rswitch {
    min-width: 40%;
    position: relative;
    display: inline-flex !important;
    font-size: 40%;
    background-color: white !important;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

#fileSelectButton, #changelogb, #reset, #defaultskin {
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    display: inline-block;
}

header button:hover, #change:hover {
    background-color: floralwhite;
}

.navbarlink, #change, #station, #fileSelectButton, #changelogb, #reset, #defaultskin  {
    border-radius: 15px;
    border-color: dodgerblue !important;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
}

b {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}

.bslide {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    position: relative;
}

.buttoncontainer {
    width: 100% !important;
}

#aleccontainer {
    all: revert;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
}

#alec {
    background-color: white;
    padding: 1%;
    border-radius: 50%;
    width: 25%;
    height: revert;
    animation: rotate 5s infinite linear;
    pointer-events: all;
}

#content, #descbox {
    display: none;
}

.column {
    background-color: white;
    padding: 15px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    border-radius: 15px;
}

#autoclick1, #autoclick1cost,
#autoclick2, #autoclick2cost,
#autoclick3, #autoclick3cost,
#autoclick4, #autoclick4cost,
#autoclick5, #autoclick5cost,
#autoclick6, #autoclick6cost,
#autoclick7, #autoclick7cost,
#autoclick8, #autoclick8cost,
#autoclick9, #autoclick9cost,
#autoclick10, #autoclick10cost,
#autoclick11, #autoclick11cost,
#autoclick12, #autoclick12cost,
#autoclick13, #autoclick13cost,
#autoclick14, #autoclick14cost,
#autoclick15, #autoclick15cost,
#autoclick16, #autoclick16cost,
#soonupg, #soonupg2 {
    display: inline-block;
    padding: 5px;
    background-color: white;
    color: black;
    margin: 1px;
}

#autoclick1, #autoclick2,
#autoclick3, #autoclick4,
#autoclick5, #autoclick6,
#autoclick7, #autoclick8,
#autoclick9, #autoclick10,
#autoclick11, #autoclick12,
#autoclick13, #autoclick14,
#autoclick15, #autoclick16 {
    width: 100%;
    overflow-x: auto !important;
}


#soonupg, #soonupg2 {
    background-color: #FFCC00;
}

#statname {
    text-align: left;
}

#descbox {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    padding: 10px;
    border-radius: 15px;
    border: 1px outset dodgerblue;
    z-index: 10002;
}

#changelog {
    position: fixed;
    right: 50%;
    width: 50%;
    transform: translateX(50%);
    max-height: 50%;
    overflow-y: auto;
    bottom: -100%;
    transition: bottom 0.5s;
    opacity: 0.9;
    z-index: 100;
}

#loading img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    z-index: 100;
}

.numberUp {
    font-family: "Karla", sans-serif;
    position: absolute;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px black;
    opacity: 1;
    animation: numberUp 0.5s ease-out forwards;
    pointer-events: none;
    z-index: 2;
}

.numberDown {
    font-family: "Karla", sans-serif;
    position: absolute;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px black;
    opacity: 1;
    animation: numberDown 1s ease-in forwards;
    pointer-events: none;
        z-index: 2;

}

/*hover*/
#alec:hover, button:hover, #fileSelectButton:hover {
    cursor: pointer;
}

#soonupg:hover, #soonupg2:hover {
    cursor: not-allowed;
}

button:hover {
    background-color: lightskyblue;

}

.bhoflogo {
    width: 100px;
}

#statname {
    margin-top: 0;
    margin-bottom: 5px;
}

/*animation*/
@keyframes slideUpgrades {
    0% {
        left: -10%;
    }
    100% {
        left: 100%;
    }
}

@keyframes slideStats {
    0% {
        right: -10%;
    }
    100% {
        right: 100%;
    }
}

@keyframes colorChange {
    0% {
        background-color: slategray;
    }

    98% {
        background-color: mediumpurple;
    }

    100% {
        background-color: slategray;
    }
}

@keyframes buttonSlideIn {
    from {
        bottom: -500px;
    }
    to {
        bottom: 0;
    }
}

@keyframes topslide {
    from {
        top: -100%;
        opacity: 0;
    }
    to {
        top: 1%;
        opacity: 1;
    }
}

@keyframes topslide2 {
    from {
        top: -100%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes bottomslide {
    from {
        top: 1%;
        opacity: 1;
    }
    to {
        top: -100%;
        opacity: 0;
    }
}

@keyframes bottomslide2 {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -100%;
        opacity: 0;
    }
}

@keyframes numberUp {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    
    100% {
        opacity: 1;
        transform: translateY(-50px);
    }
}

@keyframes numberDown {
    0% {
        opacity: 1;
        transform: translateY(-50px);
    }
    
    100% {
        opacity: 0;
        transform: translateY(250px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes moveimg {
    0% {
        opacity: 1;
        left: -10%;
    }
    99% {
        opacity: 1;
        left: 45%;
    }
    100% {
        opacity: 0;
    }
}

/*mobile*/
@media only screen and (max-width: 795px) {
    #tip {
        max-height: 100% !important;
    }
    #alec {
        animation: none;
        width: 25%;
    }

    #descbox {
        opacity: 0;
    }

    #ucontainer button, #scontainer button, #upgrades, #stats, #statname, #statname b {
        font-size: 10px;
    }
    #statname {
        background-color: none !important;
    }

    #ucontainer, #scontainer {
        width: auto;
        height: auto;
    }

    #change, #station {
        bottom: 1%;
        position: fixed;
    }

    #pform {
        display: none;
    }
}